@font-face {
    font-family: '1942_report1942_report';
    src: url('../Fonts/1942-webfont.eot');
    src: url('../Fonts/1942-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/1942-webfont.woff') format('woff'),
    url('../Fonts/1942-webfont.ttf') format('truetype'),
    url('../Fonts/1942-webfont.svg#1942_report1942_report') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color: white;
    overflow: hidden;
}

body {
    background-color: white;
}

#header {
    height: 30px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

#content {
    height: 50vh;
}

#content_left_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;
}

#content_left {
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
}

#content_center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    height: 100%;
    top:2000px;
    -webkit-animation: rise 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: rise 3s; /* Firefox < 16 */
    -ms-animation: rise 3s; /* Internet Explorer */
    -o-animation: rise 3s; /* Opera < 12.1 */
    animation: rise 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#content_center_wrapper {
    background-color: red;
    border-radius: 65px;
    width: 134px;
    height: 130px;
    margin: 0 auto 35px;

}

#logo {
    margin: 0 auto;
    display: block;
    height: 130px;
    opacity: 0;


}

#content_center_wrapper:hover {
    cursor: pointer;
    background-color: transparent;
    -webkit-transition-duration: 500ms;
    -moz-animation-duration: 500ms;
    -ms-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    animation-duration: 500ms;
}

#content_center_wrapper:hover img {
    opacity: 1;
    -webkit-animation: fadein 500ms; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 500ms; /* Firefox < 16 */
    -ms-animation: fadein 500ms; /* Internet Explorer */
    -o-animation: fadein 500ms; /* Opera < 12.1 */
    animation: fadein 500ms;
}

#content_right_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;
}

#content_right {
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
}

.girl_image {
    height: 200px;
    opacity: 0;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#girl_1 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

#girl_2 {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#girl_3 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

#girl_4 {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

#girl_5 {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
}

#girl_6 {
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

h1 {
    font-family: '1942_report1942_report', serif;
    line-height: 150px;
    font-size: 50pt;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}

#footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes rise {
    from {
        top: 2000px;
    }
    to {
        top: 0;
    }
}